<!-- View for: All roles -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Archived JOFs{% endblock %}
{% block heading %}<div class="spacer"></div>Archived JOFs{% endblock %}

{% block content %}


<form style="display: inline-block; margin: 24px -8px; vertical-align: middle;" method="GET" action="" >
    <input class="textfield" style="display:inline; width: 283px; height: 32px;" type="search" name="search"> 
    <button class="btn flex-btn secondary" style="display:inline; width: 32px; height: 32px;" type="submit"><img src="{% static 'images/icons/Search.svg' %}"></button>
</form>

{% if account.type == 'Client'%}
    <a href="{% url 'jofcreate'%}"><button class="btn flex-btn btn-half primary" style="float: right; margin: 24px 0px;">
        <img src="{% static 'images/icons/Plus.svg' %}"> New JOF</button>
    </a>
{%endif%}



<div class="flex-cards">
    {% for jof in jofs %}
    {% if jof.status == 4 %}
        <div class="card">
            <h2 class="prim700 semibold"> {{jof.name}} </h2>
            <p class="med"> Blast Date: {{jof.date}}  </p>
            {% if account.type == 'Artist' %}
            <p class="med"> Department: {{jof.department}}  </p>
            {% endif %}
            <span class="chip semibold bgsucc600"> Completed </span>
            <a href="{% url 'joftracker' jof.pk %}"><button class="btn btn-full primary">View</button></a>
        </div> 
    {% endif %}
    {% endfor %}
</div>


{% endblock content%}