<!-- View for: All roles -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Archived JOFs{% endblock %}
{% block heading %}Archived JOFs{% endblock %}

{% block content %}


<form class="add_your_class" method="GET" action="" >
    <input class="add_your_class" type="search" name="search"> 
    <button class="add_your_class" type="submit"> Search </button>
</form>

{% if account.type == 'Client'%}
<div>
    <a href="{% url 'jofcreate'%}"><button>+ New JOF</button></a>
</div>
{% endif %}



<div class="flex-cards">
    {% for jof in jofs %}
    {% if jof.status == 4 %}
        <div class="card">
            <h2 class="prim700 semibold"> {{jof.name}} </h2>
            <p class="med"> Blast Date: {{jof.date}}  </p>
            {% if account.type == 'Artist' %}
            <p class="med"> Department: {{jof.department}}  </p>
            {% endif %}
            <span class="chip semibold bgsucc600"> Completed </span>
            <a href="{% url 'jofview' jof.pk %}"><button class="btn btn-full primary">View</button></a>
        </div> 
    {% endif %}
    {% endfor %}
</div>


{% endblock content%}