<!-- View for: Artist and Head-Artist Only -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Create New JOF{% endblock %}
{% block heading %}Create New JOF{% endblock %}

{% block content %}
    <form method = "post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.isrush.errors }}
            <label for="{{ form.isrush.id_for_label }}">Is Rush?</label>
            {{ form.isrush }}
        </div>
        <div>
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name</label>
            {{ form.name }}
        </div>
        <div>
            {{ form.date.errors }}
            <label for="{{ form.date.id_for_label }}">Blast Date</label>
            {{ form.date }}
        </div>
        <div>
            {{ form.summary.errors }}
            <label for="{{ form.summary.id_for_label }}">Purpose</label>
            {{ form.summary }}
        </div>
        <div>
            {{ form.type.errors }}
            <label for="{{ form.type.id_for_label }}">Type</label>
            {{ form.type }}
        </div>
        <div>
            {{ form.pegs.errors }}
            <label for="{{ form.pegs.id_for_label }}">Link to Pegs</label>
            {{ form.pegs }}
        </div>
        <div>
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>
        <div>
            {{ form.spiel.errors }}
            <label for="{{ form.spiel.id_for_label }}">Spiel</label>
            {{ form.spiel }}
        </div>
            <input class="button" type="submit" value="Submit"></button>
    </form>
{% endblock content%}