<!-- View for: All roles -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Current JOFs{% endblock %}
{% block heading %}Current JOFs{% endblock %}

{% block content %}

{% for jof in jofs %}

{% if jof.status != 4 %}
    <p>
        <li> {{jof.name}} </li>
        <li> {{jof.date}}  </li>

        {% if jof.status == 1 %}
        <li> Is Pending </li>
        {% endif %}
        {% if jof.status == 2 %}
        <li> In Progress </li>
        {% endif %}
        {% if jof.status == 3 %}
        <li> Not Taken </li>
        {% endif %}

        <button>View</button>
    </p> 
{% endif %}
    
{% endfor %}


{% endblock content%}