<!-- View for: All roles -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Current JOFs{% endblock %}
{% block heading %}Current JOFs{% endblock %}

{% block content %}

<form action="{% url 'jofsearch' %}?path=self.request.get_full_path?jofs=jofs" method="POST">
    {% csrf_token %} 
    <input type="text" name="name">
    <input type="submit" name="submit" value="Search">
</form>
<br>
{% if account.type == 'Client'%}
<div>
    <a href="{% url 'jofcreate'%}"><button>+ New JOF</button></a>
</div>
{%endif%}

<div class="flex-cards">
    {% for jof in jofs %}
        {% if jof.status != 4 %}
            <div class="card">
                <h2 class="prim700 semibold"> {{jof.name}} </h2>
                <p class="med"> Blast Date: {{jof.date}}  </p>
                {% if account.type == 'Artist' %}
                <p class="med"> Department: {{jof.department.dname}}  </p>
                {% endif %}
                {% if jof.status == 1 %}
                <span class="chip semibold bginfo500"> Pending approval </span>
                {% endif %}
                {% if jof.status == 2 %}
                <span class="chip semibold bgwarn500"> In progress </span>
                {% endif %}
                {% if jof.status == 3 %}
                <span class="chip semibold bgerror500"> Not taken </span>
                {% endif %}
                <a href="{% url 'jofview' jof.pk %}"><button class="btn btn-full primary">View</button></a>
            </div> 
        {% endif %}
    {% endfor %}
</div>


{% endblock content%}