<!-- View for: Artist and Head-Artist Only -->

{% extends 'base.html' %}
{% load static %}

{% block title %}JOF Feed{% endblock %}
{% block heading %}JOF Feed{% endblock %}

{% block content %}

<div class="flex-cards">
    {% for jof in jofs %}

        {% if jof.status != 4 and not jof.isrush %}
        <div class="card">
            <h2> {{jof.name}} </h2>
            <p class="med"> Blast Date: {{jof.date}}  </p>
            <div class="btn-flex">
                <button class="btn btn-half secondary">View</button>
                <button class="btn btn-half primary">Accept</button>
            </div>
        </div> 
        {% endif %}
        
    {% endfor %}
</div>

{% endblock content%}