<!-- View for: All -->

{% extends 'base.html' %}
{% load static %}

<p>{{ jof.status }}</p>

{% block title %} {{jof.name}} {% endblock %}
{% block heading %} {{jof.name}}{% endblock %}

{% block content %}

{% if jof.isrush %}
<p>Rush | Blast Date: {{jof.date}}</p> 
{% else %}
<p>Standard | Blast Date: {{jof.date}}</p> 
{% endif %}

<h2>Specifications</h2>

<p>Deliverable Type: {{jof.get_type_display}}</p>
<br>
<p>Deliverable Pegs: <a>{{jof.pegs}}</a></p>
<br>
<p>{{jof.description}}</p>
<br>

<div id="drafts">
    <div class="tab">
        {%for draft in drafts%}
            <button class="tabbutton" onclick="showDraft(event, 'draft{{draft.dnum}}', 'comments{{draft.dnum}}')">Draft #{{draft.dnum}}</button>
        {%endfor%}
        {%if account == jof.artist and drafts.count < 3%}
        <button class="tabbutton" onclick="showDraft(event, 'newdraftbox', null)">New Draft</button>
        {%endif%}
    </div>
    {%for draft in drafts%}
    
        <script>
            
            var div = document.createElement("div");
            var dnum = document.createElement("p");
            dnum.innerHTML = "Draft Number: {{draft.dnum}}";
            var spiel = document.createElement("p");
            spiel.innerHTML = "Draft Spiel: {{draft.spiel}}";
            var img = document.createElement('img');
            img.src = "{{draft.file.url}}";
            div.id = "draft{{draft.dnum}}"
            div.append(dnum, spiel, img);
            div.className+=" draftbox";
            div.style.display = "none";
            
            document.getElementById("drafts").append(div);

            
        </script>
    {%endfor%}
</div>
<script>
    function showDraft(evt, draftId, commentId) {
        
        var i, drafts, buttons, comments;
      
        
        drafts = document.getElementsByClassName("draftbox");
        for (i = 0; i < drafts.length; i++) {
          drafts[i].style.display = "none";
        }
      
        comments = document.getElementsByClassName("commentbox");
        for (i = 0; i < comments.length; i++) {
          comments[i].style.display = "none";
        }

        buttons = document.getElementsByClassName("tabbuttons");
        for (i = 0; i < buttons.length; i++) {
          buttons[i].className = buttons[i].className.replace(" active", "");
        }
      
        
        document.getElementById(draftId).style.display = "block";
        if(commentId!=null)
        {
        document.getElementById(commentId).style.display = "block";
        }
        evt.currentTarget.className += " active";
      }
</script>


{% if account == jof.artist and drafts.count < 3%}
<div id="newdraftbox" class="draftbox" style="display: none">
    <p>Upload New Draft</p>
    <form method="post" action="{% url 'draftupload' jof.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="fileinput" type="file"/>
        <input name="spielinput" type="textarea" />
        <br>
        <input type="submit" name="submit" value="Submit Draft"/>
    </form>
</div>

<br>

{%endif%}

{%for draft in drafts%}
    <div id="comments{{draft.dnum}}" class="commentbox" style="display:none">
        <h2>Comments</h2>
        <br>
        {% if comments %}
            {% for comment in comments %}
                {%if comment.draft == draft%}
                    <p>{{comment.commenter.name}} {{comment.date}}</p>
                    <p>{{comment.content}}</p>
                    <br>
                {%endif%}
            {% endfor %}
            
        {% endif %}
        <form method="post" action="{% url 'commentadd' draft.pk %}">
            {% csrf_token %}
            <input name="commentinput" type="textarea" />
            <input type="submit" name="submit" value="Post Comment"/>
        </form>
    </div>
{%endfor%}
<br>
<a href="{{request.META.HTTP_REFERER|escape}}">Back</a>

{% endblock content%}