<!-- View for: Head Artist only -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Rush JOFs{% endblock %}
{% block heading %}Rush JOFs{% endblock %}

{% block content %}

<div class="flex-cards">
    {% for jof in jofs %}

        {% if jof.status != 4 and jof.isrush %}
        <div class="card">
            <h2> {{jof.name}} </h2>
            <p class="med"> Blast Date: {{jof.date}}  </p>
            {% if account.type == 'Artist' %}
            <p class="med"> Department: {{jof.department.dname}}  </p>
            {% endif %}
            <div class="btn-flex">
                <a href="{% url 'jofview' jof.pk %}"><button class="btn btn-half secondary">View</button></a>
                <a href="{% url 'jofapprove' jof.pk %}"><button class="btn btn-half primary">Approve</button></a>
            </div>
        </div> 
        {% endif %}
        
    {% endfor %}
</div>

{% endblock content%}