<!-- View for: All roles -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Open JOF: {{jof.name}} {% endblock %}
{% block heading %}Open JOF: {{jof.name}}{% endblock %}

{% block prehead %}
    <a href="{{request.META.HTTP_REFERER|escape}}" class="flex-btn" style="width: 71px; margin: 27px 62px;"><img src="{% static 'images/icons/LeftArrow.svg' %}"> Back</a>
{% endblock %}

{% block content %}

{% if jof.isrush %}
<p class="reg med dgray100" style="margin: 8px 64px;">Rush | Blast Date: {{jof.date}}</p>
{% else %}
<p class="reg med dgray100" style="margin: 8px 64px;">Standard | Blast Date: {{jof.date}}</p>
{% endif %}

<p class="reg" style="margin: 0px 64px;">{{jof.summary}}</p>

<h2>Specifications</h2>
<p class="reg med dgray100" style="margin: 8px 64px;">Deliverable Type: {{jof.get_type_display}}</p>
<p class="reg med dgray100" style="margin: 8px 64px;">Deliverable Pegs: <a href="{{jof.pegs}}">{{jof.pegs}}</a></p>
<p class="reg" style="margin: 0px 64px;">{{jof.description}}</p>

<h2>Spiel</h2>
{% if jof.spiel %}
<p class="reg" style="margin: 0px 64px 64px;">{{jof.spiel}}</p>
{% elif jof.spiel != None %}
<p class="reg error600" style="margin: 0px 64px 64px;">No spiel was provided by the client.</p>
{% endif %}

{% endblock content%}