@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Basic */
* {
    margin: 0;
    padding: 0;
}

html
{
    background: #FAFAFB;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #525C76;
    min-height: 100vh;
    position: relative;
}

main
{
    padding: 0px 64px 309px;
}

/* Navigation */

#navbar
{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 32px;
}

#navbar > #logotype
{
    height: 40px;
    width: auto;
    margin-right: auto;
}

#navbar > a
{
    padding: 20px 24px;
}

#navbar > a:hover
{
    color: #1EC1C8;
}

footer
{
    position: absolute;
    height: 245px;
    width: 100%;
    bottom: 0px;
    background: #1EC1C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > #footerlogo
{
    width: auto;
    height: 80px;
    margin: 4px;
}

footer > p
{
    color: #FFFFFF;
    margin: 4px;
}

#sitemap
{
    margin: 20px;
}

#sitemap > a
{
    color: #FFFFFF;
    margin: 12px;
}

#sitemap > a:hover
{
    opacity: 0.75;
}

/* Branding */
#logotype
{
    height: 64px;
    width: auto;
}

/* Text Styles */
h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}

h1
{
    font-size: 32px;
    line-height: 40px;
}

h1, h2
{
    margin: 16px 0px 8px;
}

h2
{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

main > p
{
    margin: 8px 0px;
}

.subtitle
{
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #959CAB;
    margin-bottom: 12px;
}

.reg
{
    font-size: 16px;
    line-height: 28px;
}

.sm
{
    font-size: 14px;
    line-height: 24px;
}

.xs
{
    font-size: 12px;
    line-height: 16px;
}

.semibold
{
    font-weight: 600;
}

.med
{
    font-weight: 500;
}

/* Colors */

.prim700
{
    color: #009197;
}

p, .dgray900
{
    color: #0F1D40;
}

.dgray400
{
    color: #525C76;
}

.dgray100
{
    color: #747C90;
}

.lgray800
{
    color: #959CAB;
}

.bginfo500
{
    background: #2561ED;
}

.bgsucc600
{
    background: #44AC21;
}

.bgwarn500
{
    background: #FFAD0D;
}

.error600
{
    color: #DB2438;
}

.bgerror500
{
    background: #FF3236;
}

a
{
    text-decoration: none;
    color: #00A6AF;
    font-weight: 600;
}

/* Buttons */
button
{
    background: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
}

.btn
{
    width: 388px;
    height: 48px;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
}

.btn:hover
{
    cursor: pointer;
}

.btn:focus
{
    outline: none;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #B0E9E9;
}

.flex-btn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.primary
{
    background: #00A6AF;
    color: #FFFFFF;
    border: none;
}

.primary:hover
{
    background: #1EC1C8;
}

.secondary
{
    background: none;
    color: #00A6AF;
    border: 1px solid #1EC1C8;
    box-sizing: border-box;
}

.secondary:hover
{
    background: #DFF6F6;
}

/* EZJOF Form Styles */
.label
{
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: #525C76;
}

.textfield
{
    width: 388px;
    height: 48px;
    background: #FFFFFF;
    color: #525C76;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px;
    margin: 12px;
}

.textarea
{
    width: 813px;
    height: 135px;
    background: #FFFFFF;
    color: #525C76;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px;
}

.textfield:focus, .textarea:focus, select:focus
{
    outline: none;
    border: 1px solid #00A6AF;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #B0E9E9;
}

::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
    color: #B2B7C2;
}

::-moz-placeholder
{ /* Firefox 19+ */
    color: #B2B7C2;
}

:-ms-input-placeholder
{ /* IE 10+ */
    color: #B2B7C2;
}

:-moz-placeholder
{ /* Firefox 18- */
    color: #B2B7C2;
}

select
{
    width: 388px;
    height: 48px;
    font-family: 'Work Sans', sans-serif;
    color: #525C76;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    margin: 12px 0;
}

option
{
    padding: 8px 16px;
    background: #FFFFFF;
    border-radius: 6px;
}

option:hover, option:focus
{
    background: #DFF6F6;
}

input[type="checkbox"] + label
{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}

input[type="checkbox"] + label:before
{
    content: '';
    display: inline-block;
    margin-right: 16px;
    border: 2px solid #1EC1C8;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:focus + label:before
{
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #B0E9E9;
}

input[type="checkbox"]:checked + label:before
{
    border: none;
    background: url('/static/images/icons/CheckboxChecked.svg') -2px -2px no-repeat;
}

/* Scuffed Layout i'm sorri */
.center
{
    text-align: center;
    display: block;
    margin: 24px auto;
}

.loginabs
{
    position: absolute;
    bottom: 5%;
    left: 40%;
}

.logincol
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 388px;
}

.loginrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 388px;
    height: 192px;
    margin: 24px auto;
}

.marg16
{
    margin: 16px;
}

.margmain
{
    margin: 8px 0px;
}

div.spacer
{
    font-size: 0;
    height: 16px;
    line-height: 0;
}

/* Signup Form Styles */
#msform {
    text-align: center;
    position: relative;
}

#msform fieldset
{
    border: 0 none;
    width: 50%;
    margin: 0 25%;
    padding: 24px 0;

    /*stacking fieldsets above each other*/
    position: relative;
}

fieldset > .btn
{
    margin: 16px auto;
    display: block;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/* Progress Bar */
#progressbar {
    margin-top: 32px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 248%;
    display: block;
    background: #FAFAFB;
    color: #747C90;
    border-radius: 50%;
    border: 2px solid #E2E4E8;
    margin: 0 auto 10px auto;
}

/* Progress Bar Connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #E2E4E8;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #00A6AF;
    color: #FFF;
    border: none;
}

/* Custom Inputs */
.signupradio input[type="radio"], input[type="checkbox"]
{
    appearance: none;
}

.signupradio label
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 17.5px;

    width: 192px;
    height: 192px;

    background: #FAFAFB;
    border: 2px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 6px;

    flex: none;
    flex-grow: 0;
    margin: 0px 16px;
}

.signupradio label:hover, .signupradio input[type="radio"]:focus + label
{
    border: 2px solid #1EC1C8;
    cursor: pointer;
}

.signupradio input[type="radio"]:checked + label
{
    background: #DFF6F6;
    border: 2px solid #1EC1C8;
}

.signupdept
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 388px;
    margin: 24px auto;
}

/* JOF Database Styles */
.flex-cards
{
    width: 1150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px 32px;
    padding: 0px;
    margin: 32px 0px;
}

.btn-flex
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 8px;
}

.card
{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px -1px rgba(0, 125, 128, 0.12);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 24px 24px 32px;
}

.card > h2, .card > p, .btn-full
{
    width: 304px;
}

.btn-half
{
    width: 148px;
}

.chip
{
    text-align: center;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2px 8px;
}

/* Form Styles */
.field-flex
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.fieldrow-flex
{
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin: 24px 0px;
}

.fieldcol-flex
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Indiv JOF Tracker Styles */
.tab
{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 8px;
    background: #E2E4E8;
    border-radius: 12px;
    margin: 32px 0px 16px;
}

.tabbutton
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 89px;
    border-radius: 8px;
}

.tabbutton:hover
{
    cursor: pointer;
}

.tab > .tabactive
{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.08);
}

.deliv
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 36px;
    margin: 16px 0px;
}

.pub
{
    display: inline;
    width: 450px;
}

#uploadButton.tabactive
{
    display: none;
}

#newdraftbox.draftbox
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px 0px 24px;
}

.commentset
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}