{% extends 'navlessbase.html' %}
{% load static %}

{% block content %}
    <div class="logincol center">
        <header class="marg16">
            <h1>Welcome back to</h1>
            <img id="logotype" src="{% static 'images/Logotype.svg' %}" alt="EZJOF Logo">
        </header>

        <main>
            <div class="reg semibold error600">
                {% if messages %}
                
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                
                {% endif %}
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                {{form}} 
                <input class="marg16 btn primary" type="submit" value="Log in"></button>
            </form>
            <p class="reg semibold dgray100">Don't have an account? <a class ="reg semibold" href="{% url 'signup'%}">Sign up</a></p>
        </main>
    </div>
{% endblock %}