{% extends 'navlessbase.html' %}
{% load static %}

{% block content %}
    <div class="loginflex center">
        <header class="marg16">
            <h1>Welcome back to</h1>
            <img id="logotype" src="{% static 'images/Logotype.png' %}" alt="EZJOF Logo">
        </header>

        <main>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                {{form}} 
                <input class="marg16 button primary" type="submit" value="Log in"></button>
            </form>
            <p class="reg semibold">Don't have an account? <a class ="reg semibold" href="{% url 'signup'%}">Sign up</a></p>
        </main>
    </div>
{% endblock %}