{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'Logomark.ico' %}"/>
        {% block styles %}{% endblock %}
        <title>{% block title %}EZJOF{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <img id="logotype" src="{% static 'images/Logotype.svg' %}" alt="EZJOF Logo">
                {% if account.type == 'Artist' %}
                    <a href="{% url 'joffeed' %}">JOF Feed</a>
                {% endif %}

                <a href="{% url 'jofcurrent' %}">Current JOFs</a>

                {% if account.type == 'Artist' and account.isHead %}
                    <a href="{% url 'jofrush' %}">Rush JOFs</a>
                {% endif %}

                <a href="{% url 'jofarchive' %}">Archive</a>
            </nav>
        </header>

        <main>
            {% block prehead %}{% endblock %}
            <h1>{% block heading %}JOFs{% endblock %}</h1>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <img id="footerlogo" src="{% static 'images/Logotype_White.svg' %}" alt="EZJOF Logo">
            <p class="xs">Copyright © 2022. EZJOF. All rights reserved.</p>
            <nav id="sitemap">
                {% if account.type == 'Artist' %}
                    <a href="{% url 'joffeed' %}">JOF Feed</a>
                {% endif %}

                <a href="{% url 'jofcurrent' %}">Current JOFs</a>

                {% if account.type == 'Artist' and account.isHead %}
                    <a href="{% url 'jofrush' %}">Rush JOFs</a>
                {% endif %}

                <a href="{% url 'jofarchive' %}">Archive</a>
            </nav>
        </footer>
        {% block scripts %}{% endblock %}
    </body>
</html>